@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 3em;
}

.card {
  border: 1px solid #ddd;
}

.card-image img {
  max-width: 300px;
  height: 200px;
  object-fit: cover; /* Preserve aspect ratio */
}

.card-stacked {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  padding: 20px;
  font-size: 1em;
}

.card-action {
  background: #ff652f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-action a {
  color: #fff;
  font-weight: bold;
}

.rating {
  display: inline-block;
  margin: 20px 0;
  padding: 10px;
  font-size: 1.3em;
  color: #fff;
  background-color: #4caf50;
  border-radius: 8px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.btn-custom {
  background-color: #ff652f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


#logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  z-index: 101;
}

#centered-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Bold */
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 2em;
  }

  .card {
    flex-direction: column;
  }

  .card-image img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }

  .card-stacked {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;  /* Add this */
  }

  .card-content {
    flex-grow: 1;
  }

  .card-action {
    margin-top: auto;
  }

  .card-content,
  .card-action {
    padding: 16px;
  }

  .card-title,
  #centered-title {
    font-size: 1.2em;
  }

  .rating {
    font-size: 1em;
  }

  .btn-custom {
    padding: 12px 20px;
  }

  #logo {
    width: 40px;
  }

  .card.horizontal .card-image {
    max-width: 100% !important;
    overflow: hidden;
  }
  
  .card.horizontal .card-image img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .card.horizontal {
    flex-direction: column !important;
  }
}

.rating-opinion-wrapper {
  display: flex;
  align-items: center;
}

#hotel-opinion {
  margin-left: 10px;  /* or any other value that looks good to you */
}

.action-container {
  display: flex;
  justify-content: flex-end; /* Align items to the end of the container */
  align-items: center;
  width: 100%;
}

.price {
  margin-right: 1em; /* Add some space between the price and the button */
}

.price {
  text-align: right;
}

.price-value {
  font-size: 1.5em;  /* Make the price font larger */
  display: block;  /* Make it block-level so it occupies its own line */
}

.price-text {
  font-size: 0.8em;  /* Make the text "Precio por noche" smaller */
  display: block;  /* Make it block-level so it occupies its own line */
}
